<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/layout.html :: html_head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>Reset Password</title>

</head>
<script type="text/javascript" th:src="@{/js/validator.js}"></script>
<body>
<div th:replace="fragments/layout.html :: menu"></div>
<div th:replace="fragments/layout.html :: sub_menu"></div>

<div layout:fragment="content">
    <div class="w-75 mx-auto mt-3">
        <form class="form-signin" th:action="@{/parent/change-password}" th:object="${userDTO}" onsubmit="return check()" method="post">
            <h2 class="form-signin-heading">Change Password</h2>
            <div class="container bg-danger py-2 mb-3 text-white" th:if="${action} == 'error'">An error has occurred, please try again later.</div>
            <div class="form-group">
                <label class="control-label" for="curPassword">Current Password</label>
                <input type="password" class="form-control"  th:field="*{currentPassword}" onkeyup="checkPswdExtra()" required/>
                <span name="backendError" style="color: red;" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}" class="help-block"></span>
                <span id="formatError0" style="color: red;" hidden>The password must be valid with at least one uppercase English letter, one lowercase English letter, at least one digit, at least one special character and minimum eight in length.</span></p>
            </div>
            <div class="form-group">
                <label class="control-label" for="nPassword">New Password</label>
                <input type="password" class="form-control" id="inputPassword" name="newPassword" onkeyup="checkPswdMain()" required/>
                <span name="backendError" style="color: red;" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="help-block"></span>
                <span id="formatError" style="color: red;" hidden>The password must be valid with at least one uppercase English letter, one lowercase English letter, at least one digit, at least one special character and minimum eight in length.</span></p>
            </div>
            <div class="form-group">
                <label class="control-label" for="cnPassword">Confirm New Password</label>
                <input type="password" class="form-control" th:field="*{confirmPassword}" onkeyup="checkPswdMain()" required/>
                <span name="backendError" style="color: red;" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="help-block"></span>
                <p><span id="matchError" style="color: red;" hidden>Passwords do not match</span></p>
            </div>
            <input type="hidden" th:field="*{userName}">
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>