<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">

<head th:replace="fragments/layout.html :: html_head">
    <meta charset="utf-8">
    <title>Update Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/layout.html :: menu"></div>
    <div th:replace="fragments/layout.html :: sub_menu"></div>
    <div layout:fragment="content">
    <script type="text/javascript" th:src="@{/js/profile.js}"></script>
        <div class="w-75 mx-auto mt-3">
            <form id='mainform' class="form-signin" th:action="@{/parent/submitprofile}" th:object="${user}" method="post">
                <h2 class="form-signin-heading mb-4">Update <span th:text="${user.userName}"></span>'s profile</h2>
                <div class="container bg-danger py-2 mb-3 text-white" th:if="${action} == 'error'">Profile not found, please try again.</div>
                <div class="container bg-danger py-2 mb-3 text-white" th:if="${action} == 'unsuccessful'">Failed to update profile as email is invalid. Please try again.</div>
                <label class="control-label" for="fullName">Full Name</label>
                <input type="text" th:field="*{fullName}" class="form-control middle" placeholder="Full Name" required/>
                <br>
                <label class="control-label" for="email">Email</label>
                <input type="email" th:field="*{email}" class="form-control top" placeholder="Email" required="required" autofocus="autofocus" />
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger">Email error</div>
                <br>
                <p id="confirmmsg" hidden style="color:red"><b>Please confirm your submission. If you CHANGE YOUR EMAIL, you would be LOGOUT immediately and please CHECK YOUR NEW EMAIL to RE-AUTHENTICATE your account again before you can login again.</b></p>
                <div class="btn btn-primary" id="nextbtn" onclick="toggle_next()">Submit</div>
                <div class="btn btn-primary mr-2" id="editbtn" onclick="toggle_edit()" hidden>Edit</div>
                <input type="submit" class="btn btn-primary" id="submitbtn" value="Confirm & Submit" hidden>
                <br><br>
                <a th:href="@{/parent/change-password}">Change Password</a>
                <br>
            </form>
            <br>
        </div>
    </div>
</body>

</html>