<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout.html :: html_head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>View Feedback</title>
</head>

<body>
    <link th:href="@{/styles/viewfeedback.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <div th:replace="fragments/layout.html :: menu"></div>
    <div th:replace="fragments/layout.html :: sub_menu"></div>
    
    <h3>View Feedback</h3>
    <br>
    <div class="container-fluid">
        <div class="row mx-3 align-items-end">
            <div class="col">
                <div class="float-right">
                    <form th:action="@{/parent/viewfeedback}" th:object="${feedbackDTO}" method="post">
                        <select th:field="*{viewType}">
                            <option value="all" th:selected="*{viewType} == 'all'">All</option>
                            <option value="replied" th:selected="*{viewType} == 'replied'">Replied</option>
                        </select>
                        <select th:field="*{sortBy}">
                            <option value="date_asc" th:selected="*{sortBy} == 'date_asc'">Sort By Date (Ascending)</option>
                            <option value="date_desc" th:selected="*{sortBy} == 'date_desc'">Sort By Date (Descending)</option>
                        </select>
                        <input type="hidden" name="pageNumber" th:value="0"/>
                        <input type="submit" value="Go">
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-4" th:if="${totalPages == 0}">
            <div class="row justify-content-center">
                <b>No feedback found.</b>
            </div>
        </div>
        <div th:each="feedback:${feedbacks}" th:if="${totalPages > 0}">
            <div class="row m-3">
                <div class="col">
                    <div class="card" th:id="'card' + ${feedback.feedbackId}">
                        <div class="card-body">
                            <div class="card-title">
                                <span class="h5" th:text="${feedback.subject}"></span>
                            </div>
                            <h6 class="card-subtitle mb-3 text-muted" th:text="${feedback.feedbackDate}">Date</h6>
                            <p class="card-text" th:text="${feedback.description}">Description</p>
                            <input class="btn btn-primary" type="button" data-toggle="collapse" th:attr="data-target=|#id${feedback.feedbackId}|" th:id="'opener' + ${feedback.feedbackId}" th:if="${feedback.reply} != null and ${feedback.reply} != ''" value="View Reply">
                            <div class="collapse mt-3" th:id="'id' + ${feedback.feedbackId}">
                                <div class="card card-body">
                                    <textarea rows="10" name="replybox" th:id="'text' + ${feedback.feedbackId}" th:text="${feedback.reply}" disabled></textarea><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center my-3" th:if="${totalPages > 0}">
            <div class="col-sm-auto pr-1">
                <form th:action="@{/parent/viewfeedback}" th:object="${feedbackDTO}" method="post">
                    <input type="hidden" th:field="*{viewType}" th:value="${feedbackDTO.viewType}">
                    <input type="hidden" th:field="*{sortBy}" th:value="${feedbackDTO.sortBy}">
                    <input type="hidden" name="pageNumber" th:value="0">
                    <input th:classappend="${feedbackDTO.pageNumber <= 0} ? btndisable : ''" th:disabled="${feedbackDTO.pageNumber <= 0}" type="submit" class="pagebtn" value="<<"/>
                </form>
            </div>
            <div class="col-sm-auto p-0">
                <form th:action="@{/parent/viewfeedback}" th:object="${feedbackDTO}" method="post">
                    <input type="hidden" th:field="*{viewType}" th:value="${feedbackDTO.viewType}">
                    <input type="hidden" th:field="*{sortBy}" th:value="${feedbackDTO.sortBy}">
                    <input type="hidden" name="pageNumber" th:value="${feedbackDTO.pageNumber - 1}">
                    <input th:classappend="${feedbackDTO.pageNumber <= 0} ? btndisable : ''" th:disabled="${feedbackDTO.pageNumber <= 0}" type="submit" class="pagebtn" value="<"/>
                </form>
            </div>
            <div class="col-sm-auto">
                <span th:text="${feedbackDTO.pageNumber + 1} + ' / '+ ${totalPages}"></span>
            </div>
            <div class="col-sm-auto p-0">
                <form th:action="@{/parent/viewfeedback}" th:object="${feedbackDTO}" method="post">
                    <input type="hidden" th:field="*{viewType}" th:value="${feedbackDTO.viewType}">
                    <input type="hidden" th:field="*{sortBy}" th:value="${feedbackDTO.sortBy}">
                    <input type="hidden" name="pageNumber" th:value="${feedbackDTO.pageNumber + 1}">
                    <input th:classappend="${feedbackDTO.pageNumber + 1 >= totalPages} ? btndisable : ''" th:disabled="${feedbackDTO.pageNumber + 1 >= totalPages}" type="submit" class="pagebtn" value=">"/>
                </form>
            </div>
            <div class="col-sm-auto pl-1">
                <form th:action="@{/parent/viewfeedback}" th:object="${feedbackDTO}" method="post">
                    <input type="hidden" th:field="*{viewType}" th:value="${feedbackDTO.viewType}">
                    <input type="hidden" th:field="*{sortBy}" th:value="${feedbackDTO.sortBy}">
                    <input type="hidden" name="pageNumber" th:value="${totalPages}">
                    <input th:classappend="${feedbackDTO.pageNumber + 1 >= totalPages} ? btndisable : ''" th:disabled="${feedbackDTO.pageNumber + 1 >= totalPages}" type="submit" class="pagebtn" value=">>"/>
                </form>
            </div>
        </div>
    </div>
</body>

</html>